* {box-sizing: border-box;}

#menu{
 padding: 40px;
 padding-bottom: 20px;
 padding-top: 20px; 
}
#mapId{
  height: 800px;
  width: 95%;
  margin: auto;
  border-style: solid;
  border-color: #003152;
  border-width: medium;
  padding-bottom: 0px;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border: 4px black;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border: 4px black;
}

.header a {
  float: left;
  color: black;
  text-align: left;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 24px; 
  line-height: 35px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  padding-right: 50px;

}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color: white;
}

li {
 float: left;
 border-right: 2px solid white;
}
 Add a border to all( but not the last) list items
li:last-child {
 border-right: none;
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

 Links will change color when hovered over
li a:hover {
 background-color: #a09f9f;
}

.active {
 background-color: #a09f9f;
}

